.jm-session {
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    margin-top: 4em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #ddd
}

.jm-session-time {
    box-sizing: border-box;
    position: absolute;
    top: -2.914476em;
    left: -1px;
    height: 2.914476em;
    width: 14em;
    padding: .5em 1em;
    font-weight: normal;
    letter-spacing: 4px;
    text-align: center;
    background-color: #dfdfdf;
}

.jm-session-thumb {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 1em;
    margin-bottom: .125em;
    border-radius: 50%;
}

.jm-session-content {
    margin-left: 1.5em;
}

/* clearfix the session block (http://nicolasgallagher.com/micro-clearfix-hack/) */
.jm-session-content:before,
.jm-session-content:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.jm-session-content:after {
    clear: both;
}

/* end clearfix */

.jm-session-thumb + .jm-session-content {
    margin-left: 116px;
}

.jm-session-title {
    margin-bottom: 0;
}

.jm-session-speaker {
    margin-bottom: .5em;
    font-weight: bold;
    text-transform: uppercase;
}

.jm-session-desc:not(:first-child) { /* skip the possibility of an event that's description only */
    margin-top: .5em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}

@media (min-width: 800px) {
    .jm-session {
        margin-top: inherit;
        margin-left: 15.5em;
    }

    .jm-session-time {
        height: auto;
        top: 0em;
        left: -15.5em;
        text-align: right;
    }

    .jm-session-time::after {
        content: "";
        position: absolute;
        right: -1.25em;
        top: 50%;
        margin-top: -.75em;
        display: block;
        border: .75em solid transparent;
        border-left-color: #dedede;
    }
}